<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="/js/weatherRecommended.js"></script>
  <link rel="shortcut icon" href="">
</head>
<body>
  {{>header}}

  <h2> What to Wear? </h2>
  <div id="address-form">
    <form>
      <input type="text" placeholder=" Enter Address " name="address" id="address"/>
      <input type="submit" value="Go"/>
      <img onclick="getLocation()" src="/lib/location.jpg" />
    </form>
  </div>

 <div class="container" > 

  <div class="weather-summary">
    <h2> Today's Weather: {{day}} </h2>
    <h3> 
      <span style="float:left;margin-left:2em"> Lowest: {{temperatureLow}} </span> 
      <span> Current Temperature: {{temperatureCurrent}} </span>
      <span style="float:right;margin-right:2em"> Highest: {{temperatureHigh}} </span>
    </h3>
    <h3> UV index: {{uvIndex}} </h3>
    <h3> Precipitation: {{precipitation}}% </h3>
    <h3> Summary: {{icon}} </h3>
  </div>

  <div class="recommended" >
    <div id="recommended_summary" ></div>
  </div>


  <div id="outfit"></div>

 </div>

 <script type="text/javascript">

  window.onload = function()  {

    var valid = "{{icon}}";
    if (valid !== ""){
      var recommended_summary = document.getElementById('recommended_summary');

      var tempLow = parseFloat({{temperatureLow}});
      var tempHigh = parseFloat({{temperatureHigh}});
      var precipitation = parseFloat({{precipitation}});
      var uvIndex = parseFloat({{uvIndex}});

      weatherRecommended( ((tempHigh + tempLow) /2), precipitation, uvIndex);

    }
  }


 </script>


  {{>footer}}



</body>
</html>